[user]
	name = Jeff Johny
	email = jjeff@zeomega.com
[apply]
    whitespace = fix
[alias]
    st = status
    ci = commit
    amend = commit --amend
    co = checkout
    br = branch
    lg = log --graph --date=short
    plod = pull --rebase origin develop
    pom = push origin master
    what = whatchanged -p
    df = diff --word-diff=color
    staged = diff --cached
    cp = cherry-pick
[color]
    branch = auto
    diff = auto
    interactive = auto
    ui = always
    status = auto
    pager = true
[format]
    pretty="%Cgreen%h %Cred%cr(%cd) %Cblue(%an) %C(yellow)%d %Creset%s"
[core]
	editor = vim
    whitespace = fix
	autocrlf = true
    pager = less -FRSX
[http]
    sslverify = false
